{% extends 'blog/base.html'%}
	{% load static %}
	<style>
	    .main
	    {
	        width:50%;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
	    }
	    .lol
	    {
	        padding: 3px;width: 50%;margin-top: 8px;
	    }
	    @media screen and(max-width:600px)
	    {
	        .lol
	        {
                width:100%;
	        }
	        div
	        {
	            background-color:blue;
	        }
	    }
	</style>
  {% block content %}
  <div class="container">
        {% for  question in questions %}
        <div  class="lol">
            <span style="color:red;font-size: 16px;color: lightgreen;text-transform:capitalize;text-shadow: none;margin-top: -5px;"><a href ="/search/?user={{question.poller.username}}" ><img src="{{question.poller.profile.image.url}}" width="50" height="45" style="border-radius: 50%;border:1px solid deeppink;" class="mr-3">{{question.poller.username}}</span></a>
            <img src="{% static 'blog/u.png'%}" width="50" height="40" style="margin-left:50px;">
          <span>{{question.views}}</span>
          <a href="whatsapp://send?text=https://wallpall.pythonanywhere.com/votes/{{question.id}}" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp">
          <img src="{% static 'blog/w.png'%}" width="30" height="30"  style="float:right">
          </a>
          <h4 style="text-align: center;font-family: sans-serif;text-transform: capitalize;color:red;">
            {{question.question}}
           </h3>

       <div style="display: flex;flex-direction: row;width: 100%;padding:4px;">
           {% if question.vote1 > question.vote2 %}
          <div class="card" style="width: 68%;height:100%;border-bottom:2px solid blue;" >
            {% else %}
            <div class="card" style="width: 68%;height:100%;" >
            {% endif %}
              <img src="{{question.apppolls_set.first.image1}}" alt="Avatar" style="width:100%" height="230" style="border-radius:50%;">
              <div style="display: flex;flex-direction: row;margin-top: 5px;">
                <img src="{% static 'blog/j.png' %}" alt="like" style="" class=".img-thumbnail" height="50" width="60" >
                <input type="number" name="vote1" style="visibility: hidden;width: 1%;" value="{{question.vote1}}" id="n">
                <span style="color:green;">{{question.vote1}}</span>
                <img src="{% static 'blog/d_15.png' %}" alt="Avatar" style="margin-left: 10px;margin-bottom:5px;"  class=".img-thumbnail" height="50" width="60" >
                <input type="number" name="dvote1" style="visibility: hidden;width: 1%;" value="{{question.dvote1}}" id="n">
                <span style="color:red;">{{question.dvote1}}</span>
                </div>
              </div>

              {% if question.vote1 < question.vote2 %}
          <div class="card" style="width: 70%;height:100%;border-bottom:2px solid blue;" >
            {% else %}
            <div class="card" style="width: 70%;height:100%;" >
            {% endif %}
              <img src="{{question.apppolls_set.first.image2}}" alt="Avatar" style="width:100%" height="230" style="border-radius:50%;">
              <div style="display: flex;flex-direction: row;margin-top: 5px;">
                <img src="{% static 'blog/j.png' %}" alt="like" " class=".img-thumbnail"  height="50" width="60">
                <input type="number" name="vote2" style="visibility: hidden;width: 1%;" value="{{question.vote2}}" id="n">
                <span style="color:green;">{{question.vote2}}</span>
                <img src="{% static 'blog/d_15.png' %}" alt="Avatar" style="margin-left: 10px;margin-bottom:5px;" class=".img-thumbnail"  height="50" width="60" >
                <input type="number" name="dvote2" style="visibility: hidden;width: 1%;" value="{{question.dvote2}}" id="n">
               <span style="color:red;">{{question.dvote2}}</span>
              </div>

              </div>


</div>
</div>
<div style="display:flex;">
          <a href="{% url 'votes' question.id %}" class="btn btn-outline-info mt-3 wt-25 p-3">vote</a>
          <a href="{% url 'votes' question.id %}" class="btn btn-outline-success mt-3 wt-25 p-3" style="text-transform:capitalize;">comment</a>
          <span class="ml-6" style="margin-left:60px;margin-top:35px;font-size:14px;">{{question.date_posted | date:"F d, Y"}}
          <img src="{% static 'blog/y.png' %}"  width="60" height="60" class="ml-15">
          </span>

         </div>
         <hr color="deeppink;" size="5">
        {% endfor %}
        {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-primary mt-3 mb-3 w-20 p-3">Previous Polls</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-secondary mt-3 w-20 p-3 mb-3" >More Polls</a>
    {% endif %}

  {% endif %}


  {% endblock %}