{% extends 'blog/base.html'%}
<style>

	    hr
	    {
	        color:#7f00ff;
	    }
</style>
  {% load static %}
  {% block content %}

  {% if user.is_authenticated %}
    <span id="xox" style="visibility: hidden;font-size: 1px;">1</span>
    {% else %}
    <span id="xox" style="visibility: hidden;font-size: 1px;">0</span>
  {% endif %}
<a href="/login/" id="link"></a>
<audio id="sound1" src="/static/blog/thor.mp3"></audio>

<audio id="sound2" src="/static/blog/jetha.mp3"></audio>
<span id="top"></span>

           {% for  question in data %}
        {% if question.show is 0 %}
        <div style="width:100%;" >
            <span style="color:red;font-size: 16px;color: lightgreen;text-transform:capitalize;text-shadow: none;margin-top: -5px;"><a href ="/search/?user={{question.poller.username}}" ><img src="{{question.poller.profile.image.url}}" width="50" height="45" style="border-radius: 50%;border:1px solid deeppink;" class="mr-2">{{question.poller.username}}</span></a>

          <a href="whatsapp://send?text=https://wallpall.pythonanywhere.com/votes/{{question.id}}" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp">
          <img src="{% static 'blog/w.png'%}" width="30" height="30"  style="float:right">
          </a>
          <h5 style="text-align: center;font-family: sans-serif;text-transform: capitalize;color:#5800c3;">
            {{question.question}}
            {% if question.kick is not 0 %}
                <a href="/showrepost/{{kick}}">(reposted)</a>
            {% endif %}
           </h5>

       <div style="display: flex;flex-direction: row;width: 100%;padding:0px;">

          <span id="qid" style="visibility: hidden;width:1%;">{{question.id}}</span>

           {% if question.likes1_set.first.users.count > question.likes2_set.first.users.count %}
          <div class="card" style="width:100%;height:100%;border-bottom:4px solid #5800c3;border-radius:10%;background-color:black;" >
            {% else %}
            <div class="card" style="width:100%;height:100%;border-radius:10%;background-color:black;" >
            {% endif %}
            {% if 'y' in question.typee or 'reddit' in question.typee or 'mpost' in question.typee %}
              <img src="{{question.apppolls_set.first.image1}}" alt="Avatar" style="width:100%;border-top-left-radius:10%;border-top-right-radius:10%;border:4px solid orange;" height="410" id="img1">

              {% else %}
              <img src="{{question.image1.url}}" alt="Avatar" style="width:100%;border-top-left-radius:10%;border-top-right-radius:10%;border:4px solid deeppink;" height="390" id="img1">
              {% endif %}
              <div style="display: flex;flex-direction: row;margin-top: 5px;justify-content:center;" class="ml-13">
                 {% if request.user  in question.likes1_set.first.users.all and request.user not in question.likes2_set.first.users.all %}
                <img src="{% static 'blog/aa.png'%}" alt="like"   height="55" width="50" onclick="add(this);"  >
                {% else %}
                  <img src="{% static 'blog/bbb.png'%}" alt="like"   height="55" width="50" onclick="add(this);document.getElementById('sound1').play();"  >
                {% endif %}
                {% if request.user  in question.likes1_set.first.users.all and request.user not in question.likes2_set.first.users.all %}
                <span style="font-size: 1px;color:blue;" >1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}
                <a href="/pollinfo/{{question.id}}/l1"><span id="l1d"  name="{{l1d}}" value="l1" style="font-size:20px;">{{question.likes1_set.first.users.count}}</span></a>
                 {% if request.user  in question.dlikes1_set.first.users.all  and request.user not in question.dlikes2_set.first.users.all%}
                <img src="{% static 'blog/cc.png'%}" alt="like"   height="55" width="50" onclick="add1(this);"  class="ml-2">
                {% else %}
                  <img src="{% static 'blog/ddd.png'%}" alt="like"   height="55" width="50" onclick="add1(this);"  class="ml-2">
                {% endif %}
                {% if request.user  in question.dlikes1_set.first.users.all and request.user not in question.dlikes2_set.first.users.all%}
                <span style="font-size: 1px;color:blue;">1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}

                <a href="/pollinfo/{{question.id}}/dl1"><span id="dl1d" style="font-size:20px;">{{question.dlikes1_set.first.users.count}}</span></a>
                </div>
                <span style="font-size: 1px;" class="ml-4 img1per" ></span>

              {% if 'reddit' in question.typee %}<span class="ml-4">
                <a href="{{question.apppolls_set.first.channel1}}" class="ml-8 mt-2"><img src="/static/blog/reddit.png" width="40" height="30"></a>
              </span>{% endif %}
               {% if 'mpost' in question.typee %}<span class="ml-4">
                <a href="{{question.apppolls_set.first.plink1}}" class="ml-8 mt-2"><img src="/static/blog/y.png" width="40" height="30"></a>
              </span>{% endif %}

              </div>




              {% if question.likes1_set.first.users.count < question.likes2_set.first.users.count %}
          <div class="card" style="width: 100%;height:100%;border-bottom:4px solid #5800c3;border-radius:10%;background-color:black;" >
            {% else %}
            <div class="card" style="width: 100%;height:100%;border-radius:10%;background-color:black;" >
            {% endif %}
              {% if 'y' in question.typee  or 'reddit' in question.typee  or 'mpost' in question.typee  %}
              <img src="{{question.apppolls_set.first.image2}}" alt="Avatar" style="width:100%;border-top-right-radius:10%;border-top-left-radius:10%;border:4px groove orange;" height="410" id="img2">

              {% else %}
              <img src="{{question.image2.url}}" alt="Avatar" style="width:100%;border-top-right-radius:10%;border-top-left-radius:10%;border:4px groove deeppink;" height="390" id="img2">
              {% endif %}
              <div style="display: flex;flex-direction: row;margin-top: 5px;justify-content:center;" class="ml-10">
                {% if request.user  in question.likes2_set.first.users.all and request.user not in question.likes1_set.first.users.all%}
                <img src="{% static 'blog/aa.png'%}" alt="like"   height="55" width="50" onclick="add2(this);"  >
                {% else %}
                  <img src="{% static 'blog/bbb.png'%}" alt="like"   height="55" width="50" onclick="add2(this);"  >
                {% endif %}
                {% if request.user  in question.likes2_set.first.users.all and request.user not in question.likes1_set.first.users.all %}
                <span style="font-size: 1px;color:blue;">1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}

                <a href="/pollinfo/{{question.id}}/l2"><span id="l2d" style="font-size:20px;">
                  {{question.likes2_set.first.users.count}}
                </span></a>
                 {% if request.user  in question.dlikes2_set.first.users.all  and request.user not in question.dlikes1_set.first.users.all%}
                <img src="{% static 'blog/cc.png'%}" alt="like"   height="55" width="50" onclick="add3(this);"  class="ml-2">
                {% else %}
                  <img src="{% static 'blog/ddd.png'%}" alt="like"   height="55" width="50" onclick="add3(this);"  class="ml-2">
                {% endif %}
                {% if request.user  in question.dlikes2_set.first.users.all and request.user not in question.dlikes1_set.first.users.all%}
                <span style="font-size: 1px;color:blue;">1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}
                <a href="/pollinfo/{{question.id}}/dl2" style="font-size:20px;"><span id="dl2d" value={{dl2d}} style="font-size:20px;">{{question.dlikes2_set.first.users.count}}</span></a>
              </div>
<span style="font-size: 1px;" class="ml-4 img2per" ></span>

              {% if 'reddit' in question.typee %}<span class="ml-4">
                <a href="{{question.apppolls_set.first.channel2}}" ><img src="/static/blog/reddit.png" width="40" height="30" class="ml-8 mt-2"></a>
              </span>{% endif %}
              {% if 'mpost' in question.typee %}<span class="ml-4">
                <a href="{{question.apppolls_set.first.plink2}}" class="ml-8 mt-2"><img src="/static/blog/y.png" width="40" height="30"></a>
              </span>{% endif %}

              </div>

</div>
</div>
<div stylse="display:flex;">
          <a href="/votes/{{question.id}}" class="btn btn-outline-success mt-5 wt-25 p-3 ml-2" >comment <span style="color:blue;" class="ml-2">{{question.comments_set.all.count}}</span></a>

          {% if question in request.user.profile.mysave.all %}
          <button id="unsavepost"  class="btn btn-outline-info" onclick="unsave(this);">Unsave</button><span style="font-size:1px;">{{question.id}}</span>
          {% else %}
            <button id="savepost"  class="btn btn-outline-info" onclick="save(this);">Save</button><span style="font-size:1px;">{{question.id}}</span>
            {% endif %}
            {% if 'mpost' not in question.typee and 'reddit' not in question.typee and 'y' not in question.typee%}
            <a href="/repost/{{question.id}}"   class="btn btn-outline-info" >Repost</a>
            {% endif %}
<a href="#top" style="text-align:center;" class="ml-3"><img src="/static/blog/top.png" width="40" height="40" ></a>
<br><br>
         {% if 'location' in question.typee %}
          <a href="/categorie/location">
            <img src="/static/blog/loc.png" alt="img" width="30" height="20" class="ml-2">
      location
          </a>
         {% endif %}
         {% if 'memes' in question.typee or 'reddit' in question.typee%}
          <a href="/categorie/memes">
            <img src="/static/blog/mem.png" alt="img" width="30" height="20" class="ml-2">
      memes
          </a>
         {% endif %}
        {% if 'art' in question.typee %}
          <a href="/categorie/art">
            <img src="/static/blog/mem.png" alt="img" width="30" height="20" class="ml-2">
      memes
          </a>
         {% endif %}

         {% if 'food' in question.typee %}
          <a href="/categorie/food">
            <img src="/static/blog/fod.png" alt="img" width="30" height="20" class="ml-2">
    food
          </a>
         {% endif %}

         {% if 'cars' in question.typee %}
          <a href="/categorie/cars">
            <img src="/static/blog/veh.png" alt="img" width="30" height="20" class="ml-2">
      vehicles
          </a>
         {% endif %}

         {% if 'movies' in question.typee %}
          <a href="/categorie/movies">
            <img src="/static/blog/mov.png" alt="img" width="30" height="20" class="ml-2">
      movies
          </a>
         {% endif %}
         {% if 'code' in question.typee %}
          <a href="/categorie/code">
            <img src="/static/blog/cod.png" alt="img" width="30" height="20" class="ml-2">
      Code
          </a>
         {% endif %}
         {% if 'bb' in question.typee %}
          <a href="/categorie/bb">
            <img src="/static/blog/gam.png" alt="img" width="30" height="20" class="ml-2">
      Code
          </a>
         {% endif %}

         {% if 'sports' in question.typee %}
          <a href="/categorie/sports">
            <img src="/static/blog/spo.png" alt="img" width="30" height="20" class="ml-2">
      sports
          </a>
         {% endif %}

         {% if 'gaming' in question.typee %}
          <a href="/categorie/gaming">
            <img src="/static/blog/gam.png" alt="img" width="30" height="20" class="ml-2">
      games
          </a>
         {% endif %}

         {% if 'gadgets' in question.typee %}
          <a href="/categorie/gadgets">
            <img src="/static/blog/gad.png" alt="img" width="30" height="20" class="ml-2">
      sports
          </a>
         {% endif %}

{% if 'roast' in question.typee %}
          <a href="/categorie/roast">
            <img src="/static/blog/roa.jpg" alt="img" width="30" height="20" class="ml-2">
      roast
          </a>
         {% endif %}
         {% if 'art' in question.typee %}
          <a href="/categorie/art">
            <img src="/static/blog/art.png" alt="img" width="30" height="20" class="ml-2">
      Art
          </a>
         {% endif %}

         </div>
         <br>
         <span class="ml-6" style="float:right;color:teal;">{{question.date_posted | date:"F d, Y"}}
           {% if 'y' in question.typee %}
         <img src="{% static 'blog/y.png' %}" width="50" height="50">
         {% endif %}
           {% if 'reddit' in question.typee %}
         <img src="{% static 'blog/reddit.png' %}" width="50" height="30">
         {% endif %}

          </span>
          <br>

         {% for tag in tags %}
         {% if tag.poll == question %}
          <p style="color:teal;">Tags <span style="color:teal;">
         <a href="{% url 'poll-tags' question.id %}"> {{tag.users.count}}
        </a></span> </p>
         {% endif %}
         {% endfor %}
         <hr  size="5" color="deeppink;">
         {% else %}
         <!--
          private polls
         -->
         {% for tag in tags %}
         {% if tag.poll == question %}
         {% if request.user.is_authenticated  %}
         {% if request.user == question.poller or request.user in tag.users.all %}
            <div style="width:100%;" >
            <span style="color:red;font-size: 16px;color: lightgreen;text-transform:capitalize;text-shadow: none;margin-top: -5px;"><a href ="/search/?user={{question.poller.username}}" ><img src="{{question.poller.profile.image.url}}" width="50" height="45" style="border-radius: 50%;border:1px solid deeppink;" class="mr-2">{{question.poller.username}}</span></a>

          <a href="whatsapp://send?text=https://wallpall.pythonanywhere.com/votes/{{question.id}}" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp">
          <img src="{% static 'blog/w.png'%}" width="30" height="30"  style="float:right">
          </a>
          <h5 style="text-align: center;font-family: sans-serif;text-transform: capitalize;color:#5800c3;">
            {{question.question}}
           </h5>

       <div style="display: flex;flex-direction: row;width: 100%;padding:0px;">

          <span id="qid" style="visibility: hidden;width:1%;">{{question.id}}</span>

           {% if question.likes1_set.first.users.count > question.likes2_set.first.users.count %}
          <div class="card" style="width:100%;height:100%;border-bottom:4px solid #5800c3;border-radius:10%;background-color:black;" >
            {% else %}
            <div class="card" style="width:100%;height:100%;border-radius:10%;background-color:black;" >
            {% endif %}
            {% if 'y' in question.typee or 'reddit' in question.typee %}
              <img src="{{question.apppolls_set.first.image1}}" alt="Avatar" style="width:100%;border-top-left-radius:10%;border-top-right-radius:10%;border:4px solid orange;" height="410" id="img1">

              {% else %}
              <img src="{{question.image1.url}}" alt="Avatar" style="width:100%;border-top-left-radius:10%;border-top-right-radius:10%;border:4px solid deeppink;" height="390" id="img1">
              {% endif %}
              <div style="display: flex;flex-direction: row;margin-top: 5px;justify-content:center;" class="ml-13">
                 {% if request.user  in question.likes1_set.first.users.all and request.user not in question.likes2_set.first.users.all %}
                <img src="{% static 'blog/aa.png'%}" alt="like"   height="55" width="50" onclick="add(this);"  >
                {% else %}
                  <img src="{% static 'blog/bbb.png'%}" alt="like"   height="55" width="50" onclick="add(this);document.getElementById('sound1').play();"  >
                {% endif %}
                {% if request.user  in question.likes1_set.first.users.all and request.user not in question.likes2_set.first.users.all %}
                <span style="font-size: 1px;color:blue;" >1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}
                <a href="/pollinfo/{{question.id}}/l1"><span id="l1d"  name="{{l1d}}" value="l1" style="font-size:20px;">{{question.likes1_set.first.users.count}}</span></a>
                 {% if request.user  in question.dlikes1_set.first.users.all  and request.user not in question.dlikes2_set.first.users.all%}
                <img src="{% static 'blog/cc.png'%}" alt="like"   height="55" width="50" onclick="add1(this);"  class="ml-2">
                {% else %}
                  <img src="{% static 'blog/ddd.png'%}" alt="like"   height="55" width="50" onclick="add1(this);"  class="ml-2">
                {% endif %}
                {% if request.user  in question.dlikes1_set.first.users.all and request.user not in question.dlikes2_set.first.users.all%}
                <span style="font-size: 1px;color:blue;">1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}

                <a href="/pollinfo/{{question.id}}/dl1"><span id="dl1d" style="font-size:20px;">{{question.dlikes1_set.first.users.count}}</span></a>
                </div>
                <span style="font-size: 1px;" class="ml-4 img1per" ></span>

              {% if 'reddit' in question.typee %}<span class="ml-4">
                <a href="{{question.apppolls_set.first.channel1}}" class="ml-8 mt-2"><img src="/static/blog/reddit.png" width="40" height="30"></a>
              </span>{% endif %}

              </div>




              {% if question.likes1_set.first.users.count < question.likes2_set.first.users.count %}
          <div class="card" style="width: 100%;height:100%;border-bottom:4px solid #5800c3;border-radius:10%;background-color:black;" >
            {% else %}
            <div class="card" style="width: 100%;height:100%;border-radius:10%;background-color:black;" >
            {% endif %}
              {% if 'y' in question.typee  or 'reddit' in question.typee %}
              <img src="{{question.apppolls_set.first.image2}}" alt="Avatar" style="width:100%;border-top-right-radius:10%;border-top-left-radius:10%;border:4px groove orange;" height="410" id="img2">

              {% else %}
              <img src="{{question.image2.url}}" alt="Avatar" style="width:100%;border-top-right-radius:10%;border-top-left-radius:10%;border:4px groove deeppink;" height="390" id="img2">
              {% endif %}
              <div style="display: flex;flex-direction: row;margin-top: 5px;justify-content:center;" class="ml-10">
                {% if request.user  in question.likes2_set.first.users.all and request.user not in question.likes1_set.first.users.all%}
                <img src="{% static 'blog/aa.png'%}" alt="like"   height="55" width="50" onclick="add2(this);"  >
                {% else %}
                  <img src="{% static 'blog/bbb.png'%}" alt="like"   height="55" width="50" onclick="add2(this);"  >
                {% endif %}
                {% if request.user  in question.likes2_set.first.users.all and request.user not in question.likes1_set.first.users.all %}
                <span style="font-size: 1px;color:blue;">1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}

                <a href="/pollinfo/{{question.id}}/l2"><span id="l2d" style="font-size:20px;">
                  {{question.likes2_set.first.users.count}}
                </span></a>
                 {% if request.user  in question.dlikes2_set.first.users.all  and request.user not in question.dlikes1_set.first.users.all%}
                <img src="{% static 'blog/cc.png'%}" alt="like"   height="55" width="50" onclick="add3(this);"  class="ml-2">
                {% else %}
                  <img src="{% static 'blog/ddd.png'%}" alt="like"   height="55" width="50" onclick="add3(this);"  class="ml-2">
                {% endif %}
                {% if request.user  in question.dlikes2_set.first.users.all and request.user not in question.dlikes1_set.first.users.all%}
                <span style="font-size: 1px;color:blue;">1</span>
                {% else %}
                <span style="font-size: 1px;color:blue;">0</span>
                {% endif %}
                <a href="/pollinfo/{{question.id}}/dl2" style="font-size:20px;"><span id="dl2d" value={{dl2d}} style="font-size:20px;">{{question.dlikes2_set.first.users.count}}</span></a>
              </div>
<span style="font-size: 1px;" class="ml-4 img2per" ></span>

              {% if 'reddit' in question.typee %}<span class="ml-4">
                <a href="{{question.apppolls_set.first.channel2}}" ><img src="/static/blog/reddit.png" width="40" height="30" class="ml-8 mt-2"></a>
              </span>{% endif %}

              </div>

</div>
</div>
<div stylse="display:flex;">
          <a href="/votes/{{question.id}}" class="btn btn-outline-success mt-5 wt-25 p-3 ml-2" >comment <span style="color:blue;" class="ml-2">{{question.comments_set.all.count}}</span></a>
          <a href="/kicked/{{question.id}}" class="btn btn-outline-danger mt-5 wt-25 p-3 ml-2" >Kick <span style="color:blue;" class="ml-2">{{question.kick}}</span></a>

<a href="#top" style="text-align:center;" class="ml-3"><img src="/static/blog/top.png" width="40" height="40" ></a>
<br><br>
         {% if 'location' in question.typee %}
          <a href="/categorie/location">
            <img src="/static/blog/loc.png" alt="img" width="30" height="20" class="ml-2">
      location
          </a>
         {% endif %}
         {% if 'memes' in question.typee or 'reddit' in question.typee%}
          <a href="/categorie/memes">
            <img src="/static/blog/mem.png" alt="img" width="30" height="20" class="ml-2">
      memes
          </a>
         {% endif %}
        {% if 'art' in question.typee %}
          <a href="/categorie/art">
            <img src="/static/blog/mem.png" alt="img" width="30" height="20" class="ml-2">
      memes
          </a>
         {% endif %}

         {% if 'food' in question.typee %}
          <a href="/categorie/food">
            <img src="/static/blog/fod.png" alt="img" width="30" height="20" class="ml-2">
    food
          </a>
         {% endif %}

         {% if 'cars' in question.typee %}
          <a href="/categorie/cars">
            <img src="/static/blog/veh.png" alt="img" width="30" height="20" class="ml-2">
      vehicles
          </a>
         {% endif %}

         {% if 'movies' in question.typee %}
          <a href="/categorie/movies">
            <img src="/static/blog/mov.png" alt="img" width="30" height="20" class="ml-2">
      movies
          </a>
         {% endif %}
         {% if 'code' in question.typee %}
          <a href="/categorie/code">
            <img src="/static/blog/cod.png" alt="img" width="30" height="20" class="ml-2">
      Code
          </a>
         {% endif %}
         {% if 'bb' in question.typee %}
          <a href="/categorie/bb">
            <img src="/static/blog/gam.png" alt="img" width="30" height="20" class="ml-2">
      Code
          </a>
         {% endif %}

         {% if 'sports' in question.typee %}
          <a href="/categorie/sports">
            <img src="/static/blog/spo.png" alt="img" width="30" height="20" class="ml-2">
      sports
          </a>
         {% endif %}

         {% if 'gaming' in question.typee %}
          <a href="/categorie/gaming">
            <img src="/static/blog/gam.png" alt="img" width="30" height="20" class="ml-2">
      games
          </a>
         {% endif %}

         {% if 'gadgets' in question.typee %}
          <a href="/categorie/gadgets">
            <img src="/static/blog/gad.png" alt="img" width="30" height="20" class="ml-2">
      sports
          </a>
         {% endif %}

{% if 'roast' in question.typee %}
          <a href="/categorie/roast">
            <img src="/static/blog/roa.jpg" alt="img" width="30" height="20" class="ml-2">
      roast
          </a>
         {% endif %}
         {% if 'art' in question.typee %}
          <a href="/categorie/art">
            <img src="/static/blog/art.png" alt="img" width="30" height="20" class="ml-2">
      Art
          </a>
         {% endif %}

         </div>
         <br>
         <span class="ml-6" style="float:right;color:teal;">{{question.date_posted | date:"F d, Y"}}
           {% if 'y' in question.typee %}
         <img src="{% static 'blog/y.png' %}" width="50" height="50">
         {% endif %}
           {% if 'reddit' in question.typee %}
         <img src="{% static 'blog/reddit.png' %}" width="50" height="30">
         {% endif %}

          </span>
          <br>

         {% for tag in tags %}
         {% if tag.poll == question %}
          <p style="color:teal;">Tags <span style="color:teal;">
         <a href="{% url 'poll-tags' question.id %}"> {{tag.users.count}}
        </a></span> </p>
         {% endif %}
         {% endfor %}
         <span>private</span>
         <hr  size="5" color="deeppink;">

         {% endif %}
          {% endif %}
          {% endif %}
        {% endfor %}

         {% endif %}
        {% endfor %}
<a href="#top" style="text-align:center;"><img src="/static/blog/top.png" width="40" height="40"></a>

<script type="text/javascript" src="{% static 'blog/cdp.js' %}"></script>
<script>
 	function save(e)
    {
			$.ajax({
				type: "GET",
				url:"/savepost/"+parseInt(e.nextElementSibling.innerText),
				data:{

				},
				success: function()
				{
				    alert('saved');
				    e.innerHTML ="unsave";
				},
				dataType:'html'

			});

    }

 	function unsave(e)
    {
			$.ajax({
				type: "GET",
				url:"/unsavepost/"+parseInt(e.nextElementSibling.innerText),
				data:{

				},
				success: function()
				{
				    alert('unsaved');
				    e.innerHTML ="save";
				},
				dataType:'html'

			});

    }


</script>
{% endblock %}