{% extends "blog/base.html "%}
{% block content %}
	{% for data in user%}
	<article class="media content-section">
		<div class="media-body">
	<div class="meta-data">
		<img src="{{data.author.profile.image.url}}" width="50" style="border-radius: 50%;" class="mr-2">
				{{data.author}}
				<small class="text-muted">{{data.date_posted}}</small>
			</div>
			<h2>
				<a class="article-title" href="{% url 'blog-post' data.id %}">{{data.title}}</a>
			</h2>
			<p class="article-content">{{data.content}}</p>
		</div>
	</article>
	<hr>
	{% endfor%}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a href="?page=1" class="btn btn-outline-info">1</a>
			
			<a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info">prev</a>
		{% endif %}
		{% if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info">next</a>
			<a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info">{{page_obj.paginator.num_pages}}</a>
		{% endif %}

	{% endif %}

{% endblock %}
