{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="font-size: 25px;background-color:black;color:white;">
    <center>
        <a href="https://www.wallpair.com/">
    <img src="{% static 'blog/mylogo.png' %}" width="110" height="65"></a>
<span style="color:white;font-size:35px;">wall<span style="color:yellow;font-size:35px;">pair</span></span></center>
	<center>
	<h1>Hii welcome to <a href="https://www.wallpair.com/" style="text-decoration: none;">wallpair</a></h1>

	<br><br>
	<p>
		users can compare any two photos,youtube videos,youtubers and other things.
		<br>
		<b>they can collab with different users</b>
		<br>
	</p>
	<h3>By Using <a href="https://www.wallpair.com/" >wallpair</a>you agree to following Terms and Conditions</h3>
	<div>
		<h1 style="color:yellow;">Terms and Conditions</h1>
		<p>
			1)Age:
			you must be at least 18 years old(in india) or the minumum legal age in your country to use 
			wallpair

		</p>
		<p>
			2)content:
			it you post something that is <b>too much violent and too much adult</b> then we can remove
			your post
		</p>
		<p>
			3)Cookies:
			we use session cookies for login and session activity
		</p>
		
	</div>
	
	<footer style="font-size:40px;">
		<i class="fa fa-copyright ">2021 wallpair.com</i>
	</footer>
	</center>
</body>
</html>