{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
	<title>Login wallpair</title>
		<style>
	 

body{backgroundc-color:black;}

	</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="wallpair Login">
<meta name="keywords" content="wallpair login">
<link   rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
</script>
</head>
<body style="background-color:black;">

{% load static %}


	<audio id="sound2" src="/static/blog/reload.mp3"></audio>

	    <span style="visibility:hidden;color:white;font-size:12px;" id="load">Loading...</span>
	    <center>
	        <a href="https://wallpair.com/" style="text-decoration:none;">
     <span style="font-size:29px;color:white;"><img src="{% static 'blog/mylogo.png' %}" width="110" height="65" ><span style="margin-left:-20px;">wall</span><span style="color:yellow;">pair</span></span></a>
    </center>
{% if messages %}

	{% for message in messages %}
		<div class="alert alert-{{message.tags}}">
			    <span style="font-size:15px;padding:5px;background-color:red;color:white;">

	{{message}}</span>
		</div>
	{% endfor %}
{% endif %}
<center><h6 style="color:yellow;">One Tap <b>Easy<span style="color:white;">(10 seconds)</span></b> Login & Signup Click Below </h6></center>
<center>
<div class="row" style="background-color:white;">
  <div class="col-md-3">
    <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Login with Google
    </a>
  </div>
</div></center>
<center><span style="color:white;font-size:25px;">OR</span></center>
    <h3 style="text-align: center;color:yellow;">Login</h3>
    <form class="form" onsubmit="return test();" method="post" style="padding:10px;border:1px solid yellow;margin-left:10px;margin-right:10px;">
    	<p id="demo"></p>
    	{% csrf_token %}
        <div class="form__group">
            <input type="text" placeholder="Username" class="form__input" / name="username" required style="padding:10px;margin-top:10px;width:100%;">
        </div>
        
       
        <div class="form__group">
            <input type="password" placeholder="Password" class="form__input" / name="password" required style="padding:10px;margin-top:10px;width:100%;">
        </div><br>
        <center>
        <input type="submit" value="login" class="btn"  style="padding:15px;background-color:#5800c3;color:white;"></center>
    </form>
</div>
		<span style="margin-left: 5px;color:white;font-size:18px;">Don't have account?<a href="/register/" class='ml-1' style="text-decoration: none;color:yellow;">Signup</a></span>
	<br><br>
	<!--
	<a href="https://wallpair.com/password-reset/" style="text-decoration: none;color:orange;">Forget Username and Password??</a><br>
	-->
	<center><h5 style="color:yellow;">Login To React On Post</h5></center>
<!--	
	<div>
	    <span style="color:green;">One Tap<span style="color:white;">(easy signup)</span> Login & SignUp</span>
	    <a href="{% provider_login_url 'google' %}" class="btn btn-outline-info">Login with Google</a>
	</div>-->
<script>
    function test()
    {
        
    document.querySelector("#sound2").play();
    document.querySelector("#load").style.visibility="visible";

   document.querySelector("#submit").disabled=true;

        return true;
    }

</script>

</body>
</html>