{% extends   'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
        input{border:none;border:0;outline:0;padding:8px;border:1px solid blue;width:80%;}
body{background-color:white;}        
</style>

	<form method="post">
		<fieldset>
			<legend style="color:deeppink;">Password Reset Form</legend>

		{% csrf_token %}
		<label style="color:white;font-size:18px;">Your Email Address</label>
		{{form|crispy}}
		
		<input type="submit" name="" value="reset password" class="btn btn-outline-info">
	</fieldset>
	<p style="color:white;font-size:18px;text-align:center;">You will get a link on your mail address  to reset the password</p>
	</form>

{% endblock content %}