{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #hint_id_username
{
    visiblity:hidden;
}
input
{
    border:1px solid blue;
    padding:5px;
    margin-left:20px;
}

</style>
<div>
	<img src="{{ user.profile.image.url }}" class="rounded-circle account-img" width="100">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{u_form|crispy}}

			{{p_form|crispy}}

		<input type="submit" name="" class="btn btn-outline-info" value="Update">
		</form>
	</div>
{% endblock %}